@page
@model CtrlIngrsoSalon.App.Frontend.Pages.DetalleHorarioModel
@{

    var horario = Model.horario; 
    
    <h1>Detalle del Horario : @horario.salon @horario.codSemestre </h1>
    <table class="table">
        <tr>
            <td>DIA</td>
            <td>HORAINICIO</td>
            <td>HORAFINAL</td>
            <td>CODASIGNATURA</td>
            

        </tr>
        <tr>
            <td>@horario.dia</td>            
            <td>@horario.horaInicio</td>   
            <td>@horario.horaFinal</td>            
            <td>@horario.codAsignatura</td>   
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-primary table-btn" asp-page="./Horario">
                    <i class="fas fa-info-circle"> </i> 
                     Regresar
                     </a>
            </td>
        </tr>        

    </table>
}
