@page
@model CtrlIngrsoSalon.App.Frontend.Pages.EstudiantesModel
@{
    

<div class="container">
    <div class="row">
             <div class= "col-sm-6">
               <h3>Listado de Estudiantes</h3>
             </div>
             <div class= "col-sm-2">
               <a class="btn btn-success d-block" asp-page="./EditarEstudiante" >Agregar</a>
             </div>             
    </div>
</div>

<div class="row">

@if (Model.Estudiantes != null)

{

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>CODIGO</td>                
                <td>NOMBRE</td> 
                <td>APELLIDOS</td> 
                <td>OPERACIONES</td>              
            </tr> 
        </thead>
        <tbody>
        @foreach(var estudiante in Model.Estudiantes)
        {      
           <tr>
                <td>@estudiante.persona.id</td>                
                <td>@estudiante.persona.nombre</td> 
                <td>@estudiante.persona.apellidos</td> 
                <td><a class="btn btn-primary table-btn" asp-page="./DetalleEstudiante" asp-route-personaId="@estudiante.persona.id" asp-route-estudId="@estudiante.id">
                    <i class="fas fa-info-circle"> </i> 
                     Consultar
                     </a>
                     <a class="btn btn-primary table-btn" asp-page="./EditarEstudiante" asp-route-estudianteId="@estudiante.persona.id">
                     <i class="fas fa-address-book"> </i>
                     Editar
                     </a>
                     <a class="btn btn-danger" asp-page="./EliminarEstudiante" asp-route-estudianteId="@estudiante.persona.id">
                     <i> </i>
                     Eliminar
                     </a>                     

                </td>                                      
            </tr>

        }
        </tbody>        
    </table>

} else
{
    <p>No hay registros mi pana !!!</p>

}

    
</div>    
}
